# SSH/GPG keys:
other/home/gnupg/**
!other/home/gnupg/*.conf
other/home/ssh/**
!other/home/ssh/config

# Neovim
nvim/spell
nvim/plugin/packer_compiled.lua
nvim/ftplugin/*.lua

lazygit/state.yml
exercism
helix/runtime
asciinema/install-id
op/config
raycast
nushell/history.txt
nushell/zoxide.nu
nushell/starship.nu
